
.icon-git:before { content: '\e802'; } /* '' */
.icon-nextjs:before { content: '\e806'; } /* '' */
.icon-express:before { content: '\e807'; } /* '' */
.icon-mongodb:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
